.header
    .container
        .header__content
            .header__content-text
                h1.heading__primary Save the&nbsp;
                    span Earth, Ride 
                    | in style
                .header__content-button
                    a(href="#choose-bike")
                        span Find a Bike
                        svg.header__content-icon
                            use(xlink:href=`/icons/icons.svg#arrow-forward-lite`)

            .header__content-img
                img(src="/img/banner-bicycle.png", alt="bicycle banner image")