include ../components/mixins

section.system__how-works 
    .container
        .system__content-box 
            h2.heading.heading__secondary How it Works

            .system__features-box

                +features('location-search', 'Search Bikes', 'Compare bike rental prices, bike types. No waste of time on the internet, everything is in one place!')

                +features('payment', 'Easy Payment', 'No waste of time during your holidays to find a rental point on the spot! No language barrier, thanks to our multilingual team! At the same price you would pay on the spot!')

                +features('ride', 'Make Ride', 'You will be able to fully enjoy your holiday and your ride! Any problems? Our passionate team will be happy to help you!')