include ../components/mixins

section.select__location
    .container 
        .select__location-content
            .select__location-heading
                h2.heading.heading__secondary Looking for inspiration &quest;
                p.heading.heading__sub-text Let us help you find the perfect destination

            .select__location-content--box

                +locations("/img/locations/IIUC-gate.jpg", "Main Gate")
                +locations("/img/locations/IIUC-library.jpg", "Central Library")
                +locations("/img/locations/IIUC-auditorium.jpg", "Central Auditorium") 
                +locations("/img/locations/IIUC-quranic.jpg", "Quranic Science Department")
                +locations("/img/locations/IIUC-bba.jpg", "BBA Department")
                +locations("/img/locations/IIUC-science.jpg", "Science & Engineering Department")
                +locations("/img/locations/IIUC-academic.jpg", "Academic Building")
                +locations("/img/locations/IIUC-CSE.jpg", "CSE Department")
                +locations("/img/locations/IIUC-law.jpg", "Law Department")



