section.review__section

    .review__content
        h2.heading__secondary What People say about us &quest;
        .owl-carousel.owl-loaded(id="reviewCarousel")
            .owl-stage-outer
                .owl-stage
                    .owl-item.review__content-item 
                        .review__content-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla nemo dolore aperiam aliquid nostrum. Quos rerum consequuntur iusto. Commodi debitis corrupti numquam sapiente provident necessitatibus tempora praesentium soluta totam minima.

                        .review__content-footer 
                            .review__content-author Austin stevenson 
                            .review__content-author--img 
                                img(src="/img/users/user-1.jpg", alt="user image")


                    .owl-item.review__content-item 
                        .review__content-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla nemo dolore aperiam aliquid nostrum. Quos rerum consequuntur iusto. Commodi debitis corrupti numquam sapiente provident necessitatibus tempora praesentium soluta totam minima.

                        .review__content-footer 
                            .review__content-author Austin stevenson 
                            .review__content-author--img 
                                img(src="/img/users/user-2.jpg", alt="user image")


                    .owl-item.review__content-item 
                        .review__content-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla nemo dolore aperiam aliquid nostrum. Quos rerum consequuntur iusto. Commodi debitis corrupti numquam sapiente provident necessitatibus tempora praesentium soluta totam minima.

                        .review__content-footer 
                            .review__content-author Austin stevenson 
                            .review__content-author--img 
                                img(src="/img/users/user-3.jpg", alt="user image")
