.footer__content {
  &-box {
    nav ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      column-gap: 2rem;

      li {
        a:link,
        a:visited {
          text-decoration: none;
          font-size: 2rem;
          color: $color-grey-dark;
        }
      }
    }
  }

  &-copy {
    font-size: 2rem;
    color: $color-grey-dark;
    font-weight: 400;
    text-align: center;
    margin-top: 3rem;
  }
}
