.header {
  padding-bottom: 15rem;
  background-color: $color-primary-light;
  clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);

  padding-top: 3rem;

  &__main-nav {
    background-color: $color-primary-light;

    // @include fixed-top;
  }

  &__main-logo {
    height: 7rem;
  }

  &__navbar {
    &-menu {
      @include respond(tab-land) {
        display: none;
      }
    }

    &-content {
      display: flex;
      justify-content: space-between;
      align-items: center;

      padding: 1.2rem 0;
    }

    &-user--img {
      img {
        border-radius: 100%;
        width: 45px;
        height: 45px;
      }
    }
    &-list {
      display: flex;
      align-items: center;
      list-style: none;

      &--item:link,
      &--item:visited,
      .logout-btn {
        text-decoration: none;
        cursor: pointer;
        color: black;
        font-size: 2rem;
        font-weight: 500;
        letter-spacing: 0.1rem;
        margin-right: 2.4rem;
        text-transform: capitalize;
        padding-bottom: 0.6rem;

        transition: all 2.4s cubic-bezier(0, 1.06, 1, 0.67);
      }

      &--item:hover {
        border-bottom: 2px solid $color-primary;
      }
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: center;

    padding-top: 7rem;

    &-button {
      margin-top: 5rem;
      display: flex;
      justify-content: flex-start;

      a:link,
      a:visited {
        display: block;
        text-decoration: none;
        font-size: 2.5rem;
        letter-spacing: 0.1rem;
        font-weight: 500;
        background: $color-primary-light-1;
        color: white;
        padding: 0.8rem 3rem;
        border-radius: 5px;

        transition: all 0.3s;

        display: flex;
        align-items: center;

        span {
          margin-right: 0.9rem;
        }

        svg {
          width: 3rem;
          height: 3rem;
          fill: white;
          transition: all 0.3s;
        }
      }

      a:hover {
        background-color: $color-primary;
        .header__content-icon {
          transform: translateX(4px);
        }
      }
    }
  }

  &__content-img {
    // grid-column: span 2;
    position: relative;
  }
}
