// why choose section
.why__choose {
  padding-top: 6rem;
  position: relative;

  &::after {
    content: "";
    width: 45%;
    height: 80%;
    background-color: $color-primary-light;
    border-top-left-radius: 60%;
    z-index: -1;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.choose {
  &__content {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    @include respond(tab-land) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
      justify-content: center;
    }
    align-items: center;

    &-box {
      margin-top: 5rem;
    }

    &-card {
      width: 80%;
      @include respond(tab-port) {
        width: 100%;
      }
      display: grid;
      grid-template-columns: min-content 1fr;
      align-items: center;
      gap: 2rem;

      margin-bottom: 1.5rem;
      background-color: white;
      box-shadow: 3px 3px 5px 6px #e8f1fb;
      border-radius: 14px;
      padding: 2.5rem 3rem;
      transition: all 0.3s;
    }

    &-card:hover {
      transform: scale(1.05);
      background: $color-gradient-1;

      .choose__card-text,
      .choose__card-desc > .heading__penta {
        color: white;
      }
      .choose__card-icon {
        fill: white;
      }
    }
  }

  &__card-icon {
    width: 5.5rem;
    height: 5.5rem;
    fill: $color-primary;
  }

  &__card-text {
    font-size: 1.7rem;
    padding-top: 1.1rem;
    font-weight: 400;
  }
}
