include mixins

footer.footer-section
    .container 
        p #{picklocation}
        .footer__content-box 
            nav 
                ul 
                    li: a(href="") Terms &amp; conditions 
                    li: a(href="") Privacy 
                    li: a(href="") Policy 
                    li: a(href="") Cookies 

        .footer__content-copy
                p &copy; BRS 2021 All Right Reserved