head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")

    title #{title}

    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,600;1,800&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous")

    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="/css/owl.carousel.min.css")
    link(rel="stylesheet", href="/css/owl.theme.default.min.css")

    script(src="https://js.stripe.com/v3/") 
