<!DOCTYPE html>
html(lang="en")

    include components/_head

    body(data-alert=`${alert ? alert : ''}`)

        include components/_navigation

        block content
    
        include components/_footer

        block scripts
            include components/_scripts