//- HERE ALL THE VARIABLES ARE COMMING FROM utils/email.js
extends baseEmail
block emailContent
    p Hi #{firstName}
        p Your Password was reset successfully
        table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
                tr
                    td(align='left')
                        table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                            tbody
                                tr
                                    td
                                        a(href=`${url}`, target='_blank') Go