.bicycle__all {
  .bike__sorting {
    display: flex;
    justify-content: flex-end;
    // overflow: hidden;

    &-content {
      border: 1px solid $color-grey-dark-2;
      border-radius: 4px;
      position: relative;
      width: 200px;
    }

    &-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 2rem;
      cursor: pointer;

      p {
        font-size: 2rem;

        &:first-child {
          margin-right: 2rem;
        }
      }
    }

    &-menu {
      display: none;
      position: absolute;
      top: 54px;
      left: 0px;
      width: 100%;
      z-index: 99999999;
      border: 1px solid $color-grey-light-2;
      background-color: white;
      border-top: none;

      a:link,
      a:visited {
        text-decoration: none;
        font-size: 1.8rem;
        color: black;
        display: block;
        border-top: 1px solid $color-grey-dark-2;
        padding: 1rem 2rem;
      }
    }

    &-icon {
      width: 24px;
      height: 24px;
    }
  }
}
