// system
.system {
  &__content-box .heading__secondary {
    text-align: center;
  }

  &__features-box {
    margin-top: 9rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 6rem;
    align-items: start;
    text-align: center;
  }

  &__features {
    &-icon {
      width: 9rem;
      height: 9rem;
      fill: $color-primary;
      margin-bottom: 1.5rem;
    }

    &-text {
      font-size: 2rem;
      margin-top: 0.6rem;
    }
  }
}
