include ../components/_head

body.account__main
    .account__system 
        .container
            .account__system-content--box
                .account__system-box
                    .account__system-acc
                        .account__system-heading
                            h2.heading.heading__tertiary Enter your email address
                        
                        form.account__system-form#form-forgotPassword(autocomplete="off")
                            .form__group
                                input#email.form__input(type='email', placeholder="Email" required)

                            .form__group-btn
                                button.btn.btn__action.btn__action-forgot#send-reset-btn Send Reset Link
                        

                    include ../components/_accountBanner


include ../components/_scripts