extends ../base

block content

    include ../sections/_hero
    
    include ../sections/_how-works

    include ../sections/_why-choose

    include ../sections/_select-bike

    include ../sections/_select-location

    include ../sections/review