// COLORS
$color-primary: #5dbcff;
$color-primary-light-1: #81c8fa;
$color-primary-light: #edf8ff;
$color-secondary-light: #f5f8fa;
$color-primary-dark: #153750;

$color-selection: #5ca2d4;

$section-rotate: 9vw;

$color-gradient-1: linear-gradient(to left, $color-primary, #3a7bd5);

$color-grey-dark: #333;
$color-grey-dark-1: #777;
$color-grey-dark-2: #999;

// $color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$yellow: #ffc40e;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-alert-success: #228037;
$color-alert-error: #c93d1a;
$grey: lighten(grey, 40%);

$color-danger: #d11a2a;
// FONT SIZES

$default-font-size: 1.6rem;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
